<!DOCTYPE html>
<html>
<head>
	<title>Mecanica</title>
</head>
<body>
<div class="row">
		<a href="#"> CONCEPTOS PREVIOS </a>
		<br>
		<a href="#"> DEFINICIONES </a>
		<br>
		<a href="#"> ECUACIONES BÁSICAS</a>
	</div>


	<H1><CENTER> <STRONG> <font color="red">FÍSICA MECÁNICA</font></STRONG></CENTER></H1>
	<br>
	<H2><CENTER>¿QUÈ ES?</CENTER></H2>
	<br>
	<center><article> <p align="CENTER">Es la rama de la física que estudia el movimiento y estado de los cuerpos. Dado que los fenómenos que estudia son físicos está relacionada con las matemáticas. Sin embargo, también puede relacionarse con la ingeniería, en un modo menos riguroso. Ambos puntos de vista se justifican parcialmente ya que, si bien la mecánica es la base para la mayoría de las ciencias de la ingeniería clásica, no tiene un carácter tan empírico como éstas y, en cambio, por su rigor y razonamiento deductivo, se parece más a la matemática. Describe y predice las condiciones de reposo y movimiento debido a la accion de las fuerzas.</p></article></center>
	<h2><center>La física mecánica esta formada por :</center></h2>
</body>
</html>