<!DOCTYPE html>
<html>
<head>
	<title>RESIDUOS PELIGROSOS</title>
</head>
<body>
<div class="row Row" >
		<center ><h1>RESIDUOS PELIGROSOS</h1></center>
		<div class="col-md-offset-4 col-md-2" >
			<img src="http://i2.esmas.com/2011/01/21/171877/crece-generacion-de-desechos-peligrosos-300x350.jpg" id="img">
		</div>
		<div class="col-md-2">
			<br>
			<br>
			<center><article>Son aquellos materiales que poseen características intrínsecas, es decir, causan daño a la salúd humana y/o al ambiente</article></center>
		</div>
	</div>
	<hr>
	<div class="row">
		<section  class="col-md-3" >
			<button class="uno" ><center> <h3>¿Cuales residuos son peligroso?</h3>
				<img src="http://3.bp.blogspot.com/-keq8mcrW1Pc/U-JES4TLklI/AAAAAAAAACQ/svyx4V3eXu8/s1600/Hazardous%252520Waste.jpg" > 
			</center></button>
		<div class="none one" id="one">one</div></section>
		<section class="col-md-3">
			<button class="dos" ><center><h3>¿Como identificarlos?</h3>
				<img src="http://www.vbrreciclados.com/wp-content/uploads/2015/10/residuos-peligrosos.jpg" >

			</center></button>
        <div class="none dos" id="two">two</div>
		</section>
		<section class="col-md-3">
			<button class="tres" ><center><h3>¿Como tratarlos?</h3>
				<img src="http://img.formacionyestudios.com/wp-content/uploads/2010/11/gestion-de-residuos-peligrosos.jpg" >
			</center></button>
			<div class="none tres" id="three">three</div>
		</section>
		<section class="col-md-3">
			<button class="cuatro" ><center><h3>¿Como es sancionada la mala gestión de ellos?</h3>
				<img src="http://laizquierdadiario.com/IMG/arton35994.jpg" >
			</center></button>
			
		<div class="none cuatro" id="four">four</div>
		</section>
	</div>

	
	 
	   
		
	
</body>
</html>